<div class="single-header">
  <div class="bread">
    <ol>
      <li>
        <%= link_to "トップ", root_path %>
      </li>
      <li>
      <%= link_to "お問い合わせ", "#" %>
      </li>
    </ol>
  </div>
  <h1>お問い合わせ</h1>
</div>
<div class="contact-wrap">
      <div class="contact">
        <span class="fa fa-phone"></span>
        <h2>電話</h2>
        <a href="tel:03-0000-0000">03-0000-0000</a>
      </div>
      <div class="contact">
        <span class="fa fa-envelope"></span>
        <h2>Eメール</h2>
        <a href="mailto:nehako@gmail.com">nehako@gmail.com</a>
      </div>
    </div>
  </div>
</article>
<aside class="location">
  <h2>LOCATION</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.581211609715!2d139.69836901520011!3d35.66268833859629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca89054a209%3A0xc043ecde38b8920a!2z44Ki44K444Ki44OT44Or!5e0!3m2!1sja!2sjp!4v1583485159553!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</aside>
