.listA{
  h1{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    color: $accent-color;
    font-weight: bold;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 30px auto;
    article{
      flex: 1 1 300px;
      display: flex;
      a{
        flex: 1;
        margin: 10px;
        display: block;
        border: 1px solid $gray;
        color: inherit;
        text-decoration: none;
        &:hover{
          opacity: 0.8;
        }
        .photo{
          min-height: 150px;
          // background-image: url("p01.jpg");
          background-position: center;
          background-size: cover;
        }
        .text{
          margin: 10px;
          h2{
            font-size: 18px;
          }
          p{
            font-size: 14px;
            opacity: 0.8;
          }
        }
      }
    }
  }
}