.header{
  background-color: $white;
  width: 100%;
  height: 62px;
  position: fixed;
  top: 0;
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.4);
  z-index: 99999;
  opacity: 0.8;
  .container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    line-height: 62px;
    justify-content: space-between;
    .top{
      display: flex;
      align-items: center;
      margin-left: 10px;
      text-decoration: none;
      &:hover{
        opacity: 0.7;
      }
      .logo{
        font-family: 'Ma Shan Zheng', ;
        font-size: 35px;
        color: black;
        margin-left: 5px;
      }
    }
    .toggleButton{
      margin-right: 10px;
      border: none;
      outline: none;
      background: none; 
      font-size: 28px;
      opacity: 0.5;
      cursor: pointer;
      &:hover{
        opacity: 0.3;
      }
    }
  }
  .globalNav{
    background-color: rgba(0,0,0,0.8);
    ul{
      padding: 20px 0;
      li{
        a{
          display: block;
          text-align: center;
          color: white;
          font-size: 18px;
          font-family: "Mincho","ＭＳ Ｐ明朝","MS PMincho","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",serif;
          letter-spacing: 0.07em;
          padding: 15px 0;
          &:hover{
            opacity: 0.5;
          }
        }
      }
    }
  }
  @media(min-width: 768px){
    .container{
      max-width: 1000px;
    }
  }
}