.conA{
  .container{
    padding-top: 62px;
    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
.conB{
  h1{
    @include heading;
    text-align: center;
    margin-top: 1.5rem;
  }
  .container{
    margin: 20px auto;
    article{
      a{
        margin: 10px;
        text-decoration: none;
        display: block;
        border: 1px solid $gray;
        color: inherit;
        &:hover{
          opacity: 0.8;
        }
        .photo{
          min-height: 150px;
          background-position: center;
          background-size: cover;
        }
        .text{
          margin: 10px;
          .date{
            font-size: 12px;
          }
          h2{
            font-size: 18px;
            margin-bottom: 5px;
          }
          .content{
            font-size: 14px;
            opacity: 0.8;
          }
        }
      }
    }
  }
  .moreBtn{
    display: flex;
    justify-content: flex-end;
    max-width: 1000px;
    margin: 0 auto;
    a{
      @include buttons;
      margin-bottom: 60px;
    }
  }
}
.conC{
  background-color: $main-color;
  .photo{
    background-image: image-url('honden.jpg');
    background-position: center;
    background-size: cover;
    min-height: 200px;
  }
  .text{
    padding: 20px;
    display: flex;
    align-items: center;
    &-wrapper{
      h1{
        @include heading;
        margin-bottom: 20px;
      }
      p{
        font-size: 0.75rem;
        margin-bottom: 20px;
        opacity: 0.8;
      }
      a{
        @include buttons;
      }
    }
  }
}
.conD{
  padding: 80px 0;
  .pickUp{
    margin: 0 auto;
    width: 96%;
    .menu{
      height: 200px;
      margin-bottom: 10px;
      background-position: center;
      background-size: cover;
      text-decoration: none;
      &:hover{
        opacity: 0.8;
      }
      h3{
        color: $white;
        font-family: "Mincho","ＭＳ Ｐ明朝","MS PMincho","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",serif;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        padding: 30px 30px 0;
      }
    }
    .kuzuryu{
      background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),image-url('kuzuryu3.jpg');
    }
    .news{
      background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),image-url('hujisan.jpg')
    }
    .event{
      background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),image-url('matsuri2.jpg');
    }
    .worship{
      background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),image-url('worship.jpg');
    }
    .map{
      background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),image-url('hisyaku.jpg');
    }
    .access{
      background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),image-url('matsuri.jpeg');
    }
    .contact{
      background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),image-url('ema.jpg');
    }

  }
  @media(max-width: 599px){
    .pickUp{
      overflow: hidden;
      .menu{
        float: left;
        width: 100%;
      }
    }
  }
  @media(min-width: 600px)and(max-width: 799px){
    .pickUp{
      overflow: hidden;
      .menu{
        float: left;
      }
      .kuzuryu{
        width: 50%;
      }
      .news{
        width: 49%;
        margin-left: 1%;
      }
      .event{
        width: 50%;
      }
      .worship{
        width: 49%;
        margin-left: 1%;
      }
      .map{
        width: 50%;
      }
      .access{
        width: 49%;
        margin-left: 1%;
      }
      .contact{
        display: none;
      }
    }
  }
  @media(min-width: 800px){
    .pickUp{
      overflow: hidden;
      .menu{
        float: left;
      }
      .kuzuryu{
        width: 60%;
      }
      .news{
        width: 39%;
        margin-left: 1%;
      }
      .event{
        width: 39%;
      }
      .worship{
        width: 60%;
        margin-left: 1%;
      }
      .map{
        width: 34%;
      }
      .access{
        width: 34%;
        margin-left: 1%;
      }
      .contact{
        width: 30%;
        margin-left: 1%;
      }
    }
  }
}
@media(min-width: 600px){
  .conA{
    img{
      max-height: 800px;
    }
  }
  .conB{
    .container{
      display: flex;
      max-width: 1000px;
      article{
        flex: 1;
      }
    }
  }
  .conC{
    .container{
      display: flex;
      max-width: 1000px;
      margin: 0 auto;
      .photo{
        flex: 3;
        min-height: 400px;
      }
      .text{
        flex: 2;
        padding: 50px;
      }
    }
  }
}